.card {
   @apply style3
}

.style1 {
   @apply md:flex 
   md:flex-row 
   md:flex-wrap 
   md:mx-52
    
   my-auto
   ml-28
}

.style2 {
    @apply md:h-72
    md:mx-16
    
    lg:mx-44

    xl:mx-80
    
    flex 
    flex-col
    flex-wrap 
    my-auto
    ml-20
}

.style3 {
    @apply lg:flex 
    lg:flex-row

    md:ml-56

    xl:ml-0

    flex 
    flex-col
    flex-wrap 
}