.picture {
    @apply style2-picture
}

.picture-img {
    @apply style2-picture-img
}

.picture-box {
    @apply style2-picture-box
}

.text {
    @apply text-2xl text-center
}

.picture-info {
    @apply xl:pl-2
}

.picture-name {
    @apply font-light text text-white 
    cursor-pointer hover:text-cyan-100 hover:underline

    xl:text-xl
}

.picture-job {
    @apply text-blue-500 font-normal 
    text mt-2 

    xl:text-xl
}

.picture-icon {
    @apply flex flex-row justify-evenly 
    pt-4 mx-auto w-36

    xl:pl-14
    xl:pb-2
}

.icon {
    @apply text-gray-500 text-2xl 
    hover:text-white 
    hover:cursor-pointer
}

.icon-tw {
    @apply icon
}

.icon-linkdn {
    @apply icon
    xl:pl-5
}

.style1-picture {
    @apply flex flex-row flex-wrap h-20 ml-4
}

.style2-picture {
    @apply flex flex-col flex-wrap my-2  
    bg-gray-800 rounded-xl py-10 px-8

    lg:mx-4

    xl:mx-4
    xl:w-96
    xl:pb-4
    xl:px-4
}

.style1-picture-img {
    @apply rounded-full w-16 h-16
}

.style2-picture-img {
    @apply rounded-full 
    shadow-black
    shadow-2xl
    hover:shadow-blue-900
    cursor-pointer
    w-48 h-48 mx-auto
}

.style1-picture-box {
    @apply font-serif mx-3
}

.style2-picture-box {
    @apply font-serif mx-3 pt-7

    xl:flex 
    xl:mx-0
}